# Ignore virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# CSVs with sensitive or large data (optional)
*.csv

# VS Code settings
.vscode/
